.db {
    position: absolute;
    width: 10%;
    top: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: pink;
    border-radius: 15px;
    text-align: left;
}

.zt {
    width: 70%;
    height: 14%;
    top: 0.94%;
    left: 14.8%;
    object-fit: cover;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
}

.nr {
    width: 88%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0%;
    left: 11.5%;
    border-radius: 20px;
}

.test {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1%;
    left: 3%;
    border-radius: 10px;
    transition: all 0.4s;
}

.test:hover {
    position: absolute;
    width: 103%;
    height: 103%;
    top: 0.5%;
    left: 1.5%;
    border-radius: 10px;
    transition: all 0.4s;
}

body {
    background-image: url(https://picture.gptkong.com/20250125/16469c675cf37e4f9e9671766531d70655.png);
}

.testdiv {
    position: absolute;
    width: 30%;
    height: 30%;
}


.testdiv:hover .test {
    position: absolute;
    width: 103%;
    height: 103%;
    top: 0.5%;
    left: 1.5%;
    border-radius: 10px;
    transition: all 0.6s;
}


.testdiv:hover .bl {
    position: absolute;
    width: 103%;
    height: 15%;
    top: 88.5%;
    left: 1.5%;
    opacity: 1;
    transition: all 0.8s;
}

.bl {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    z-index: 3;
    width: 100%;
    height: 15%;
    top: 86.4%;
    left: 3%;
    border-radius: 0px 0px 10px 10px;
    opacity: 0;
    transition: all 0.4s;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
}

.js{
    position: absolute;
    width: 98%;
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
    top: 0;
}

.fwqtp{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 10%;
    left: 30%;
}

.by{
    position: absolute;
    width: 98%;
    top: 4%;
    text-align: center;
}

.zjs{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 37%;
    font-weight: bolder;
    font-size: 200%;
}

.ip{
    position: absolute;
    width: 50%;
    top: 73%;
    left: 41%;
    font-weight: bolder;
    font-size: 125%;
}

.copy{
    position: absolute;
    top: 80%;
    left: 43%;
    width: 15%;
    height: 10%;
    background-color: rgba(54, 224, 0, 1);
    font-weight: bolder;
    font-size: 150%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
    transition: all 0.2s;
}

.copy:hover{
    background-color: rgba(48, 198, 0, 1);
    transition: all 0.2s;
}

#ipd{
    position: absolute;
    top: 10%;
    font-weight: bolder;
}

.qqdiv {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 35%;
}


.qqdiv:hover .qqtp {
    position: absolute;
    width: 103%;
    height: 103%;
    top: 0.5%;
    left: 1.5%;
    border-radius: 10px;
    transition: all 0.6s;
}


.qqdiv:hover .blq {
    position: absolute;
    width: 103%;
    height: 15%;
    top: 88.5%;
    left: 1.5%;
    opacity: 1;
    transition: all 0.6s;
}

.blq {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    z-index: 3;
    width: 100%;
    height: 15%;
    top: 86.4%;
    left: 3%;
    border-radius: 0px 0px 10px 10px;
    opacity: 0;
    transition: all 0.4s;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
}

.qqtp {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1%;
    left: 3%;
    border-radius: 10px;
    background-color: white;
    transition: all 0.4s;
}

.qqtp:hover {
    position: absolute;
    width: 103%;
    height: 103%;
    top: 0.5%;
    left: 1.5%;
    border-radius: 10px;
    transition: all 0.4s;
}

.sydiv{
    position: absolute;
    width: 90%;
    height: 5%;
    top: 16%;
    text-align: center;
    color: black;
    font-size: 170%;
    font-weight: bolder;
    left: 5%;
}

.sydiv:hover{
    background-color: rgba(255, 255, 255, 1);
}

.gydiv{
    position: absolute;
    width: 90%;
    height: 5%;
    top: 22%;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 170%;
    left: 5%;
}

.gydiv:hover{
    background-color: rgba(255, 255, 255, 1);
}

.sy{
    position: absolute;
    width: 30%;
    height: 100%;
    top: -2%;
    left: 0;
}

.gy{
    position: absolute;
    width: 50%;
    height: 190%;
    top: -50%;
    left: -10%;
}

.myself{
    position: absolute;
    top: 5%;
    left: 36.5%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;
    border: 3px solid black;
}

.gyzjs{
    position: absolute;
    width: 50%;
    top: 55%;
    left: 37%;
    font-weight: bolder;
    font-size: 200%;
}

.wxts{
    position: absolute;
    font-weight: bolder;
    font-size: 150%;
    top: 95%;
    left: 40%;
}